<template name="Map">
  <div id="map">
    <div id="heat-map-container">
      <img id="map-img" src="/img/agora_mapa.jpg" />
    </div>
    {{#if showContactInfo}}
    <div id="contact-info">
      {{> Map_ContantInfo}}
    </div>
    {{/if}}
    <div id="close" class="ui red button">
      <i class="close icon"></i> Cerrar
    </div>
  </div>
</template>

<template name="Map_ContantInfo">
  <div class="ui card">
    <div class="image">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAgdAAAAJDVmYzU1Zjk4LTExNTgtNDhlZi1hOGM4LWJkNTM3NmY3Mjc1Ng.jpg">
    </div>
    <div class="content">
      <a class="header">Carlos Gonzalez</a>
      <div class="meta">
        <span class="date">Ingeniero Software en BEEVA</span>
      </div>
      <div class="description">
        Researcher, desarrollo de software
      </div>
    </div>
    <div class="extra content">
      <a><i class="user icon"></i> 199 contactos</a>
    </div>
  </div>
</template>
